{% extends "@template/template.html" %}

{% block title %}Home{% endblock %}

{% block assets%} <link rel="stylesheet" type="text/css" href="/assets/css/home.css">{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Olá seja bem-vindo ao Faire</h1>
        <div class="col-6 float-lg-left align-center mt-5">
            <img class="img-fluid" alt="Todo list image" style="" src="/assets/svg/todo_list.svg">
        </div>
        <div class="col-lg-6 col-sm-10 float-lg-right mt-5 align-center">
            <p>Seja bem-vindo ao Faire seu aplicativo para listas de tarefas para seu uso cotidiano.</p>
            <p>O Faire disponibiliza apenas 1 feature inicialmente, a lista de tarefas, explicando melhor, você criando sua conta e logando com ela, terá a oportunidade de criar inumeras listas com inumeras tarefas. </p>
            <p>Lembrando que o Faire foi feito basicamente para estudo e para testar o Light Framework, um framework em PHP criado tambem para estudos.</p>
            <button onclick="location.href='/user/create';" class=" mt-3 btn btn-primary" >
                Cadastre-se já
            </button>
        </div>
</div>
{% endblock %}
